name: pipeline
on:
  push:
    branches:
      - main

jobs:
  teste-unitario:
    runs-on: ubuntu-latest

    steps:
    - name: Checagem do codigo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Configuracao java
      uses: actions/setup-java@v3
      with:
        distribution: 'corretto'
        java-version: '17'
        
    - name: Entra na pasta App
      run: |
        cd app

    - name: Exectar testes unitarios
      run: |
       cd app
       mvn test

  code-analysis:
    runs-on: ubuntu-latest
    needs: teste-unitario

    steps:
    - name: Checagem do codigo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        distribution: 'corretto'
        java-version: '17'

    - name: Cache SonarCloud packages
      uses: actions/cache@v1
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar

    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('app/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Navigate to the app directory
      run: |
        cd app

    - name: Build and analyze
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: 2d908eaa7a840db5bf8ae8b1f51940a981c278c5
      run: |
        cd app
        mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=caikeburgos_app-fastfood-application -Dsonar.login=$SONAR_TOKEN

    - name: Check Quality Gate
      env:
        SONAR_TOKEN: 2d908eaa7a840db5bf8ae8b1f51940a981c278c5
      run: |
        curl -s "https://sonarcloud.io/project/configuration?id=caikeburgos_app-fastfood-application" -H "Authorization: Basic $SONAR_TOKEN"
         
  build:
    needs: [teste-unitario] 
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        distribution: 'corretto'
        java-version: '17'

    - name: Build
      run: |
        cd app
        mvn clean install 
        cd target
        mkdir app
        ls -la
        chmod 777 app
        mv *.jar app
        cd app
        mv *.jar app-fastfood.jar
        ls -la 
   
    - name: Upload jar 
      uses: actions/upload-artifact@v2
      with:
        name: app
        path: '${{ github.workspace }}/app/target/app/app-fastfood.jar' 
      
  publish:
  
    runs-on: ubuntu-latest
    needs: 
     - build
     - code-analysis
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Download jar 
      uses: actions/download-artifact@v2
      with:
        name: app
        path: '${{ github.workspace }}/app'
        
    - name: BUILD2
      run: |
        pwd
        cd app
        ls -la
        echo "JAR_DIR=${{ github.workspace }}/app" >> $GITHUB_ENV
 
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: caikemury
        password: shakiralanadelrey
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
       context: .
       file: ${{ github.workspace }}/app/Dockerfile
       push: true
       tags: caikemury/appfastfood:latest
       env:
        JAR_DIR: ${{ env.JAR_DIR }}